@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: chartreuse;
}

#container{
    background: #E5E5E5;
    margin:0 auto;
    padding-top: 123px;
    padding-bottom: 104px;
}
.header{
    background: #CF2B2B;
    width: 100%;
    height: 92px;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.header h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.pratos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.bebidas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 27px;
}

.sobremesas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
}

.passo{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-left: 19px;
}
.opcoes{
    display: flex;
    overflow-x: scroll;
}

.opcoes::-webkit-scrollbar {
    display: none;
}
.opcao{
    background-color: #ffffff;
    min-width: 172px;
    height: 216px;
    margin-top: 17px;
    margin-left: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 18px 14px;
    justify-content: space-around;
    font-family: 'Roboto';
    font-style: normal;
    position: relative;
}

.opcao h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.opcao p{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #a6a6a6;
}
.opcao h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
/*.opcao ion-icon{
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 16px;
    right: 13px;
    color: #32b72f;
}*/
.opcao:hover{
    padding: 10px;
}

.footer button{
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    border: none;
}

.footer{
    background: #FFFFFF;
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}